<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="Tiramisu" android:compileSdkVersion="32" android:compileSdkVersionCodename="Tiramisu" package="com.google.android.apps.customization.pixel" platformBuildVersionCode="32" platformBuildVersionName="Tiramisu">
    <uses-sdk android:minSdkVersion="Tiramisu" android:targetSdkVersion="31"/>
    <application android:label="@string/app_name" android:hasCode="false" android:extractNativeLibs="false"/>
</manifest>
